/* COLORS */
$color__background-body: #ffffff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-dark-navy: #012241;

//**MY COLORS**//
$color_dark_blue: #205bab;
$color_baby_blue: #6488b9;
$color-my-dark-navy: rgba(1, 34, 65, 0.84706);
$color_price_green: #77a464;
$color_my-light-grey: #f3f3f3;

$color__text-light: #fff;
$color__text-dark: #000;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #000; //royalblue
$color__link-visited: inherit; //purple
$color__link-hover: #57bb51;

$background__main-theme--green: #57bb51;
$background__main-theme--light-blue: #e2ebf5;

$background__footer: #2c373e;
$background__grey--lighter: #566b78;
$background__footer--darker: #2a3339;

$background__button-green: #57bb51;

$box-shadow_standard: 0 0px 15px 5px rgb(0 0 0 / 10%),
	0 0px 6px 0px rgb(0 0 0 / 5%);

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

/* TYPOGRAPHY */
$font_main: "Museo Sans";
$font_headers: "Museo Sans";

$font_links: "Montserrat", sans-serif;
$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

/* STRUCTURE */
$size__site-main: 100%;
$size__site-sidebar: 25%;

/* RWD */
$break__medium: 40.063em;
$break__large: 64.063em;
