.first-visit {
	.entry-header {
		@media screen and (min-width: 992px) {
			height: 16rem;
		}
	}

	.first_visit_page_part_1 .text-wrapper {
		@media screen and (min-width: 992px) {
			padding: 0em 6em 0 4em;
		}
	}

	.first_visit_page_part_1,
	.first_visit_page_part_2 {
		@media screen and (max-width: 992px) {
			background: $background__main-theme--light-blue;
		}
	}
}

.first_visit_page_part_1 {
	position: relative;
	padding-top: 1em;

	@media screen and (min-width: 992px) {
		&:after {
			content: "";
			position: absolute;
			background: $background__main-theme--light-blue;
			top: 0%;
			width: 100%;
			display: block;
			height: 180%;
			left: 0;
			z-index: -1;
		}
	}

	p {
		align-self: flex-start;
		@include fluid-type($min_width, $max_width, 18px, 20px);
	}
}

.steps-container {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	margin-bottom: 1em;

	height: 100%;
	text-align: center;

	@media screen and (min-width: 992px) {
		padding: 5em 0 2em;
	}

	.steps-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-around;

		@media screen and (max-width: 992px) {
			flex-wrap: wrap;
		}
	}

	h2 {
		padding-bottom: 1em;
		padding: 2em 1em;
		position: relative;

		&:before {
			content: "";
			display: block;
			height: 3px;
			width: 70px;
			top: -10px;
			background: $background__button-green;
			margin: auto;
			position: absolute;
			transform: translateX(-50%);
			left: 50%;

			// @media screen and (max-width: 992px) {
			// 	margin: auto;
			// }
		}

		@media screen and (min-width: 992px) {
			padding-bottom: 3em;
		}
	}

	@media screen and (max-width: 992px) {
		flex-flow: row;
		flex-wrap: wrap;
	}

	.step-box {
		display: flex;
		flex-flow: column;
		// justify-content: center;

		padding: 2em 1em;
		border-radius: 20px;
		align-items: center;
		background: rgb(255 255 255 / 100%) !important;
		box-shadow: $box-shadow-standard;

		@media screen and (max-width: 992px) {
			margin: 1em;
			width: 100%;
		}

		@media screen and (min-width: 992px) {
			width: 28%;
		}

		img {
			width: 60px;
		}

		p {
			color: $color__text-dark;
			text-align: center;
			margin: 0.5em auto 0.25em;
			font-weight: 600;

			@include fluid-type($min_width, $max_width, 24px, 28px);

			@media screen and (max-width: 992px) {
				margin: 0.5em auto 0.25em;
				line-height: 1.25;
			}
		}

		span {
			padding-top: 1em;
			text-align: center;
			width: 100%;
			display: block;
			@include fluid-type($min_width, $max_width, 16px, 18px);
			color: $color__text-dark;

			br {
				display: block; /* makes it have a width */
				content: ""; /* clears default height */
				margin-top: 0.75em; /* change this to whatever height you want it */
			}
		}

		.offer-text {
			@include fluid-type($min_width, $max_width, 12px, 14px);
		}
	}

	.green-button {
		margin: 4rem auto;
		@include fluid-type($min_width, $max_width, 14px, 26px);
	}
}
