/* POSTS AND PAGES */

.site-content {
	// height: 100%;
	// margin-bottom: 20em;
	// margin-top: 14em;
	z-index: 1;
	// @media screen and (max-width: 992px) {
	// 	margin-top: 5em;
	// }
}

.sticky {
	display: block;
}

// .post,
// .page {
// 	margin: 0 0 1.5em;
// }

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 auto;

	text-align: center;

	@media screen and (min-width: 1300px) {
		width: 60%;
	}
}

body.single-post {
	.page-content,
	.entry-content,
	.entry-summary {
		width: 100% !important;
	}
}

.single-product {
	.woocommerce-Tabs-panel {
		text-align: left;
	}
}

.woocommerce-account.logged-in {
	.entry-content {
		@media screen and (min-width: 992px) {
			width: 90%;
		}
	}

	.woocommerce-Input {
		padding-right: 0.5em !important;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.page-wrapper {
	padding: 1em 5% 1em 5%;

	@media screen and (min-width: 992px) {
		padding: 1em 10% 1em 10%;
	}
}

/* ASIDES */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* COMMENTS */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.common-template__header {
	padding: 8rem 2rem 2rem;
	height: 100%;
	background: $color__background-body;
	display: flex;
	flex-flow: column;
	// align-items: center;
	// justify-content: center;
	// background: rgba(1, 34, 65, 0.59);
	// background-image: url(../dist/img/entry-header.jpg); /* fallback */
	// background: linear-gradient(
	// 		to top,
	// 		rgba(1, 34, 65, 0.75),
	// 		rgba(1, 34, 65, 0.55)
	// 	),
	// 	url(../dist/img/entry-header.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	justify-content: center;

	@media screen and (min-width: 992px) {
		padding: 2em 10%;
		// justify-content: flex-start;
		min-height: 12rem;
	}

	h1 {
		color: $color__text-dark;
		// padding: 3em 0 0;
		line-height: 1.2;
		margin: 0;
		margin-top: 1em;
		@include fluid-type($min_width, $max_width, 36px, 46px);
		// align-self: flex-end;
		position: relative;
		word-break: break-word;

		@media screen and (min-width: 992px) {
			padding: 0rem 4rem 0;
		}

		@media screen and (min-width: 1500px) {
			max-width: 70%;
		}

		&:before {
			content: "";
			display: block;
			height: 3px;
			width: 50px;
			top: -20px;
			background: $background__button-green;
			position: absolute;

			// @media screen and (max-width: 992px) {
			// 	margin: auto;
			// }
		}
	}

	p {
		@include fluid-type($min_width, $max_width, 38px, 42px);
		margin-top: 0.5em;
		margin-bottom: 1em;

		@media screen and (min-width: 992px) {
			padding: 0rem 4rem 0;
		}

		@media screen and (min-width: 1500px) {
			max-width: 70%;
		}
	}
}

.common-elements {
	&__section-title {
		@include fluid-type($min_width, $max_width, 38px, 42px);
		text-align: left;
		align-self: flex-start;
		font-weight: 400;
		margin-bottom: 1em;

		@media screen and (min-width: 992px) {
			margin-bottom: 0;
		}
	}
}

header.wholesale-header {
	height: 5em;
}

.wholesale-login {
	.entry-content {
		margin-top: 4em;
	}
}

.welcome-view {
	// @media screen and (max-width: 992px) {
	// 	height: 90vh;
	// }
}

.page-template-contact-page {
	h2 {
		@include fluid-type($min_width, $max_width, 26px, 30px);
		text-align: center;
	}

	.entry-content {
		margin: 3em auto 1em;
		@include fluid-type($min_width, $max_width, 18px, 22px);
	}
}

.contact-data {
	padding: 1em;
	h2 {
		@include fluid-type($min_width, $max_width, 28px, 32px);
		margin-bottom: 0.25em;
	}

	h3 {
		margin-top: 0;
		text-align: center;
		@include fluid-type($min_width, $max_width, 18px, 22px);
	}

	p {
		margin: 0;
		padding-bottom: 0.25em;
		@include fluid-type($min_width, $max_width, 18px, 22px);
	}

	a {
		font-weight: 600;
		color: $background__main-theme--green;
		@include fluid-type($min_width, $max_width, 18px, 22px);
	}
}

.our-shops,
.salesmen-wrapper {
	margin: 3em 3em;

	@media screen and (min-width: 992px) {
		margin: 6em 3em;
	}

	.wrapper-flex-row {
		@media screen and (max-width: 992px) {
			flex-flow: column;
			align-items: center;
			width: 100%;
		}

		width: 85%;
	}

	a {
		font-weight: 600;
		color: #205bab;
	}
}

.our-shops {
	.wrapper-flex-row {
		@media screen and (min-width: 992px) {
			align-items: flex-start;
			width: 70%;
			justify-content: space-evenly;
		}
	}
}

.salesman-single,
.shop-single {
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 2em 1em;
	min-width: 15em;
	font-size: 1em;

	h3 {
		margin-bottom: 0.5em;
	}

	a {
		margin-bottom: 0.25em;
	}
}

.salesman-single__avatar {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 8em;
	width: 8em;
	margin-top: 1em;
}

.shop-single {
	.opening-hours__title {
		font-weight: 700;
		margin-top: 1em;
	}

	.opening-hours {
		width: 100%;
		p {
			display: flex;
			justify-content: space-between;
		}
	}
}

.single-post {
	.entry-header {
		text-align: center;
		margin-bottom: 3em;
	}
}

.page-template-single-brand-page-template {
	.post-thumbnail {
		margin: 2em auto;
		text-align: center;
	}
}

.contact-form {
	padding: 2em 0;

	h3 {
		margin-bottom: 0.5em;
	}

	form.wpcf7-form {
		p {
			margin-bottom: 0;
		}

		input {
			width: 100%;
			border: 1px solid transparent;
			border-radius: 20px;
			padding: 0.25em 1em;

			@media screen and (max-width: 992px) {
				border-radius: 10px;
			}
		}

		textarea {
			border: 1px solid transparent;
			border-radius: 20px;
			padding: 0.25em 1em;
		}

		input,
		textarea {
			outline: none;

			&::placeholder {
				transition: all 0.3s ease-in-out;
			}

			&:focus,
			&:active {
				&::placeholder {
					opacity: 0;
				}
			}
		}

		input[type="checkbox"] {
			width: 20px;
		}

		:nth-child(7) {
			text-align: center;

			.ajax-loader {
				margin-top: 1em;
			}
		}

		:nth-child(6) {
			// border: 1px solid red;
			label {
				display: flex;
				flex-flow: row-reverse;
				justify-content: center;

				@media screen and (max-width: 992px) {
					flex-flow: column;
					text-align: center;

					.wpcf7-list-item {
						margin: 0;
					}

					.acceptance-70 {
						margin-top: 1em;
					}
				}

				@media screen and (min-width: 992px) {
					padding-left: 1em;
				}
			}

			.wpcf7-list-item {
				margin-left: 0;
				margin-right: 1em;
				cursor: pointer;

				input[type="checkbox"] {
					position: relative;
					cursor: pointer;
					padding: 0;
					margin-right: 10px;
					width: 10px;
					height: 10px;

					&:focus {
						outline: none;
					}
				}

				input[type="checkbox"]:before {
					content: "";
					margin-right: 10px;
					display: inline-block;
					margin-top: -2px;
					width: 20px;
					height: 20px;
					background: $color__background-body;
					border: none;
				}

				input[type="checkbox"]:checked:before {
					background: $background__main-theme--green;
					border-color: $color__background-body;
				}
				input[type="checkbox"]:disabled {
					color: $background__main-theme--green;
					cursor: auto;
				}
				input[type="checkbox"]:disabled:before {
					box-shadow: none;
					background: $background__main-theme--green;
				}
				input[type="checkbox"]:checked:after {
					content: "";
					position: absolute;
					left: 5px;
					top: 7px;

					background: $color__background-body;
					width: 2px;
					height: 2px;
					box-shadow: 2px 0 0 $color__background-body,
						4px 0 0 $color__background-body, 4px -2px 0 $color__background-body,
						4px -4px 0 $color__background-body,
						4px -6px 0 $color__background-body,
						4px -8px 0 $color__background-body;
					transform: rotate(45deg);
				}
			}
		}

		.wpcf7-submit {
			padding: 1.25em 1.75em !important;
			@include fluid-type($min_width, $max_width, 14px, 18px);
		}
	}
}

.page-template-contact-page {
	.contact-form
		form.wpcf7-form
		:nth-child(6)
		.wpcf7-list-item
		input[type="checkbox"] {
		&:before {
			border: 1px solid $background__button-green;

			margin-top: -8px;
			width: 24px;
			height: 24px;
		}

		&:after {
			left: 8px;
			top: 4px;
		}
	}
}

.advantages-container {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	margin-bottom: 1em;
	padding: 5em 0 2em;
	height: 100%;
	text-align: center;

	@media screen and (max-width: 992px) {
		padding: 15em 0 2em;
	}

	.advantages-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-around;

		@media screen and (max-width: 992px) {
			flex-wrap: wrap;
		}
	}

	h2 {
		padding-bottom: 1em;
		padding: 2em 1em;

		@media screen and (min-width: 992px) {
			padding-bottom: 3em;
		}
	}

	@media screen and (max-width: 992px) {
		flex-flow: row;
		flex-wrap: wrap;
	}

	.advantage-box {
		display: flex;
		flex-flow: column;
		// justify-content: center;

		padding: 2em 1em;
		border-radius: 20px;
		align-items: center;
		background: rgb(255 255 255 / 80%) !important;

		&:hover {
			background: white !important;
		}

		@media screen and (max-width: 992px) {
			margin: 1em;
			width: 100%;
		}

		@media screen and (min-width: 992px) {
			width: 28%;
		}

		img {
			width: 60px;
		}

		p {
			color: $color__text-dark;
			text-align: center;
			margin: 0.5em auto 0.25em;
			font-weight: 600;

			@include fluid-type($min_width, $max_width, 24px, 28px);

			@media screen and (max-width: 992px) {
				margin: 0.5em auto 0.25em;
				line-height: 1.25;
			}
		}

		span {
			padding-top: 1em;
			text-align: center;
			width: 100%;
			display: block;
			@include fluid-type($min_width, $max_width, 16px, 18px);
			color: $color__text-dark;

			br {
				display: block; /* makes it have a width */
				content: ""; /* clears default height */
				margin-top: 0.75em; /* change this to whatever height you want it */
			}
		}

		.offer-text {
			@include fluid-type($min_width, $max_width, 12px, 14px);
			word-break: break-word;
		}
	}
}

#map_wrapper {
	height: 600px;
}

.info_content {
	text-align: center;
	img {
		width: 50%;
	}
}

.map_canvas {
	width: 100%;
	height: 100%;
}

.offer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 1em;
	flex-wrap: wrap;
	width: 100%;

	// background: hsla(0, 0%, 94.5%, 0.26667) !important;

	img {
		height: 70px;
		width: auto;
		object-fit: contain;
		margin-bottom: 1em;
	}

	.offer-box {
		display: flex;
		flex-flow: column;
		align-items: center;
		// padding: 1.5em;
		width: 40%;
		height: 20em;
		margin: 10px;

		@media screen and (min-width: 992px) {
			width: 30%;
			height: 15em;
		}

		.offer-text {
			@include fluid-type($min_width, $max_width, 16px, 18px);
			text-align: center;
			font-weight: 600;
			margin-top: 0;
			width: 100%;
			word-break: break-word;

			@media screen and (min-width: 992px) {
				padding: 1em 2em;
			}
		}
	}

	&:after {
		content: "";
		display: block;
		margin: auto;
		width: 15%;
		height: 3px;
		background-color: $background__button-green;

		@media screen and (min-width: 992px) {
			width: 10%;
		}
	}
}

.page-template-about-page-template {
	.common-page-subheader:last-of-type {
		@include fluid-type($min_width, $max_width, 24px, 34px);
	}
}

h1.common-page-header {
	text-align: center;
	@include fluid-type($min_width, $max_width, 24px, 34px);
}

p.common-page-subheader {
	text-align: center;
	font-weight: 600;
	@include fluid-type($min_width, $max_width, 16px, 18px);
}

.team-container {
	// height: 35em;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;

	@media screen and (max-width: 992px) {
		// height: 30em;
		margin: 2.5em auto;
	}

	.logo {
		padding-top: 2em;
	}
}

.team-inner {
	position: relative;
	margin-top: 1em;

	// img {
	// 	z-index: -1;
	// }

	h5 {
		// display: none;
		// position: absolute;
		text-align: center;
		display: flex;
		flex-flow: column;
		color: $background__main-theme--green;
		@include fluid-type($min_width, $max_width, 22px, 24px);
		z-index: 1;
		font-weight: 600;

		a {
			// text-align: left;
			text-align: center;
			color: black;
			font-weight: 400;
			@include fluid-type($min_width, $max_width, 12px, 14px);
		}

		&:nth-of-type(1) {
			// bottom: 20%;
			// left: -10%;
			// text-align: right;

			// @media screen and (max-width: 500px) {
			// 	left: 0%;
			// 	bottom: -15%;
			// 	margin-bottom: 0;
			// 	text-align: left;
			// }

			// &:before {
			// 	content: "";
			// 	width: 96px;
			// 	height: 96px;
			// 	border-radius: 50%;
			// 	background: #d0d0d08f;
			// 	position: absolute;
			// 	right: -40%;
			// 	top: -45%;
			// 	z-index: -1;

			// 	@media screen and (max-width: 500px) {
			// 		top: -20%;
			// 		right: 70%;
			// 		width: 48px;
			// 		height: 48px;
			// 	}
			// }
		}

		&:nth-of-type(2) {
			// bottom: -20%;
			// left: 30%;
			// text-align: right;

			// @media screen and (max-width: 500px) {
			// 	left: auto;
			// 	right: 0;
			// 	margin-bottom: 0;
			// 	bottom: -15%;
			// }

			// &:before {
			// 	content: "";
			// 	width: 96px;
			// 	height: 96px;
			// 	border-radius: 50%;
			// 	background: #d0d0d08f;
			// 	position: absolute;
			// 	right: -40%;
			// 	top: -45%;
			// 	z-index: -1;

			// 	@media screen and (max-width: 500px) {
			// 		right: -15%;
			// 		top: -20%;
			// 		width: 48px;
			// 		height: 48px;
			// 	}
			// }
		}

		&:nth-of-type(3) {
			// bottom: -5%;
			// right: -20%;
			// min-width: 6em;

			// @media screen and (max-width: 500px) {
			// 	min-width: 2em;
			// 	right: 30%;
			// 	margin-bottom: 0;
			// 	bottom: -37%;
			// }

			// &:before {
			// 	content: "";
			// 	width: 96px;
			// 	height: 96px;
			// 	border-radius: 50%;
			// 	background: #d0d0d08f;
			// 	position: absolute;
			// 	right: 60%;
			// 	top: -45%;
			// 	z-index: -1;

			// 	@media screen and (max-width: 500px) {
			// 		width: 48px;
			// 		height: 48px;
			// 		right: auto;
			// 		right: 30%;
			// 		top: -30%;
			// 	}
			// }
		}
	}
}

.brands-grid,
.categories-grid,
#menu-shop-category-grid,
#menu-woomenu-mobile-1 {
	display: grid;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;

	@media screen and (min-width: 992px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.categories-grid,
#menu-shop-category-grid,
#menu-woomenu-mobile-1 {
	grid-row-gap: 2em;
	grid-column-gap: 2em;
	margin: 2em 0;
	// padding-bottom: 2em;
	justify-content: center;
	list-style: none;
	// padding-left: 0;
}

.brand-tile {
	height: 100px;
	width: auto;
	background: no-repeat;
	background-size: contain;
	background-position: center;
	margin: 2em;
}

#menu-shop-category-grid > li,
#menu-woomenu-mobile-1 > li {
	border: 2px solid transparent;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;

	@media screen and (min-width: 992px) {
		height: 18em;
	}

	&:hover {
		border: 2px solid $background__main-theme--green;
		border-radius: 10px;
		box-shadow: 0px 0px 15px 0px rgb(32 91 171 / 35%);
	}

	a {
		position: relative;
		padding: 1em;
		display: flex;
		flex-flow: column;
		justify-content: center;
		text-align: center;
		flex-flow: column-reverse;
		font-family: $font_headers;
		font-weight: 700;
		transition: all 0.3s ease-in-out;

		.menu-thumbnail-image {
			background: no-repeat;
			background-size: contain;
			background-position: center;
			// height: 100%;
			height: 11em;
			margin: 5px 5px 1em;
			z-index: 0;
		}
	}
}

.page-template-filler {
	#page {
		opacity: 1 !important;
	}
}

.filler-main {
	height: 100vh;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;

	.filler-logo {
		// background-image: url(../dist/img/venus-logo.PNG) !important;
		width: 20em;
		height: 5em;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		margin-bottom: 4em;
	}

	.filler-text {
		text-align: center;
		@include fluid-type($min_width, $max_width, 24px, 28px);
	}
}

.page-template-termsandconditions {
	#content {
		#main {
			padding: 0 5% 1em;

			@media screen and (min-width: 992px) {
				padding: 0 15% 1em;
			}

			h1,
			h3 {
				font-weight: 700;
			}

			h1 {
				@include fluid-type($min_width, $max_width, 38px, 42px);
				margin-top: 1em;
			}

			h3 {
				@include fluid-type($min_width, $max_width, 24px, 26px);
			}

			a {
				text-decoration: underline;
			}

			ul,
			ol {
				margin: 1.5em 0 1.5em 0em;
				// padding-left: 0px;
			}

			ol {
				padding-left: 1em;
			}

			li {
				margin: 0 0 1em;
			}

			li > ol,
			li > ul {
				margin-left: 0em;
				// padding-left: 10px;
			}
		}
	}
}

.single-post {
	article {
		padding: 0 5% 1em;
		margin: 6em auto;

		@media screen and (min-width: 992px) {
			padding: 0 10% 1em;
		}

		.post-content {
			margin-right: 3em;
		}
	}
}
