.site-header {
	color: $color__text-light;
	background-color: $background__footer;
	background-size: cover;
	background-position: 100%;

	@media screen and (min-width: 992px) {
		padding: 0 10% 2em;
	}

	@media screen and (max-width: 992px) {
		background-attachment: fixed;
	}
}

.home {
	&__header {
		min-height: 100vh;
	}
}
